.portfolio{
    display:table;
    width:100%;
    column-count:4;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
}
.portfoliRow{
    display:table-row;
}