.contactForm{
    width:40%;
    margin:auto;
}
.contactForm label{
    font-weight:bold;
}
.contactForm input{
    width:100%;
}
.contactForm textarea{
    width:100%;
    height:13em;
}
.contactForm button{
    background-color: rgba(0,0,0,0);
    border:3px solid #003b6f;
    border-radius:5px;
    color:#003b6f;
    font-weight:bold;
    font-size:17px;
    -webkit-transition: 0.2s; /* Safari prior 6.1 */
  transition: 0.2s;
}
.contactForm button:hover{
    color:white;
    background-color:#003b6f;
    -webkit-transition: 0.2s; /* Safari prior 6.1 */
  transition: 0.2s;
}
.contactForm button:disabled{
    color:gray;
    border: 3px solid gray;
    -webkit-transition: 0.2s; /* Safari prior 6.1 */
  transition: 0.2s;
}
.contactForm button:disabled:hover{
    background-color: rgba(0,0,0,0);
    color:gray;
    border: 3px solid gray;
    -webkit-transition: 0.2s; /* Safari prior 6.1 */
  transition: 0.2s;
}
@media only screen and (max-width: 1300px) {
    .contactForm{
        width:60%;
    }
}
@media only screen and (max-width: 768px) {
    .contactForm{
        width:80%;
    }
}